.content {
  transition: margin-right 0.3s ease;
  padding: 0 4rem;
}

.content.pushed {
  margin-right: 340px;
}

.task-header {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
  padding: 1rem 0;
}

.sidebar-panel {
  display: none;
  position: absolute;
  top: 0;
  right: -340px;
  width: 340px;
  height: 650px;
  background-color: #fff;
  transition: right 0.3s ease;
  overflow-y: auto;
  z-index: 1050;
  border-radius: 12px;
  margin: 1.5rem 2.5rem 0rem 0rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #afaeae;
}

.sidebar-panel.open {
  display: block;
  right: 0;
}

.alert-container {
  position: fixed;
  top: 30px;
  right: 0;
  z-index: 1100;
  width: 400px;
}

.btn-create,
.btn-create:active,
.btn-create:focus {
  height: 73px;
  color: #828282;
  font-weight: 700;
  border: 1px solid #bdbdbd;
  padding: 23px 13px;
  border-radius: 12px;
}

.btn-create:hover {
  background-color: #F4F4F4;
}

.btn-save {
  background-color: #FF6767;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: 1px solid #FF6767;
  flex-grow: 1;
}

.btn-save:hover {
  background-color: #FF4D4D;
  border: 1px solid #FF4D4D;
}

.btn-cancel{
  background-color: #f3f2f2;
  color: #606060;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 12px;
  border: 1px solid #606060;
}

.btn-cancel:hover {
  background-color: #F4F4F4;
  border: 1px solid #bdbdbd;
}

.btn-more-action {
  background-color: #fff;
  color: #000;
  padding: 0 10px;
  border: none;
}

.w-100 {
  width: 100%;
}

.sidebar-panel .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: none;
}

.task-title {
  font-size: 50px;
  font-weight: 700;
  color: #444444;
}

.task-search{
  width: 100%;
  height: 50px;
  padding: 0.5rem 2.5rem;
}

.task-filter{
  width: 100%;
  height: 50px;
  color: #828282;
  font-weight: 700;
  padding: 0.5rem 2.5rem;
}

.task-title-card,
.card-text {
  color: #444444;
}

.task-count {
  font-size: 26px;
  font-weight: 700;
  color: #444444;
  border: 1px solid #afaeae;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 0 12px;
}

.task-more {
  color: #6f6f6f;
  font-weight: 600;
  padding-left: 2rem;
  cursor: pointer;
}

.date {
  font-size: 14px;
  color: #FF6767;
}

.form-label {
  font-size: 16px;
  font-weight: 700;
  color: #444444;
}

.title-form {
  font-size: 20px;
  font-weight: 700;
  color: #444444;
}

.form-control {
  border: 1px solid #afaeae;
  border-radius: 12px;
  box-shadow: none;
}

.search-container, .filter-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon-container, .filter-icon-container {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.search-icon-container i, .filter-icon-container i {
  font-size: 18px;
  color: #828282;
}

.btn-close-falcon-container {
  position: absolute;
  top: 10px;
  right: 1rem;
}

.btn-close-falcon {
  background-color: transparent;
  border: none;
  color: #444444;
  font-size: 16px;
  cursor: pointer;
}

.btn-close-falcon:hover {
  color: #444444;
  font-size: 18px;
}

.alert-success {
  border-left: 6px solid #10A94D;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.alert-danger {
  border-left: 6px solid #FF6767;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.alert i {
  font-size: 18px;
  margin-right: 0.5rem;
}

.task-card {
  border: 1px solid #afaeae;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 12px;
}

.task-card:hover {
  box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.3);
}

.task-check {
  font-size: 20px;
  border: 1px solid #afaeae;
}

.task-check:checked {
  background-color: #10A94D;
  border: 1px solid #10A94D;
}

.task-check:focus {
  box-shadow: none;
}

.line {
  border-bottom: 3px solid #FF6767;
  width: 100%;
  max-width: 235px;
}

.bi-plus {
  font-size: 18px;
}

.bi-exclamation-circle{
  font-size: 18px;
  color: #FF6767;
}

.text-danger {
  font-size: 14px;
  color: #FF6767;
}

.required{
  color: #FF6767;
}

.is-invalid {
  border: 1px solid #dc3545;
  background-color: #fff7f7;
}

.is-invalid:focus {
  box-shadow: none;
}

.dropdown-item {
  font-size: 16px;
  font-weight: 700;
  color: #444444;
}

.dropdown-item:active {
  background-color: #F4F4F4;
}

/* Sidebar Panel Styling */
.sidebar-panel {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1050;
  margin: 0;
  overflow: hidden;
}

.sidebar-panel.open {
  right: 0;
}

.sidebar-content {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 75px; /* Para dar espacio a los botones en la parte inferior */
}

/* Ajustes responsivos para dispositivos móviles */
@media (max-width: 576px) {
  .sidebar-panel {
    max-width: 100%;
  }

  .task-header {
    padding-bottom: 10px;
  }

  .btn-create {
    margin-top: 10px;
  }
}

@media (max-width: 1130px) {
  .task-title {
    font-size: 40px;
  }

  .sidebar-panel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 880px;
  }

  .sidebar-panel.open {
    right: 0;
  }

  .content {
    padding: 0 1rem;
  }

  .content.pushed {
    margin-right: 0;
  }

  .alert-container {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .task-card {
    border: 1px solid #afaeae;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .task-title-card {
    font-size: 18px;
    font-weight: 600;
  }

  .task-count {
    font-size: 20px;
    padding: 0 8px;
  }

  .task-more {
    font-size: 14px;
    padding-left: 1rem;
  }

  .date {
    font-size: 12px;
  }
}
