.sidebar-container {
  width: 22.5rem;
  height: 100vh;
  padding: 1rem 1rem;
  background: #FF6767;
  border: 1px solid #E4E1EC;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}

.sidebar-header i{
  font-size: 2rem;
  color: #545454;
}

.logo{
  width: 150px;
  height: 150px;
}

.nav-link{
  font-size: 18px;
  color: #fff;
  padding: 1rem 1rem;
  margin: 0.5rem 0.5rem;
  border-radius: 12px;
}

.nav-link:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-link.active{
  background-color: #fff;
  border-radius: 12px;
  color: #FF6767;
  font-weight: bold;
  position: relative;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
}

.nav-pills{
  margin-top: 2rem;
}

.nav-link.active .icon{
  color: #FF6767;

}

.icon{
  font-size: 20px;
}

.line {
  width: 225px;
  border: 1px solid #ddd;
  margin-left: 0.5rem;
}

.btn-burger{
  color: #666666;
  font-size: 24px;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
}

.bg-mobile{
  background-color: #FF6767;
}

.offcanvas-header{
  padding: 1rem 2rem;
  color: #fff;
}

.btn-close{
  font-size: 20px;
}
